<% if entry.calorie == nil %>
  <% entry_class = "warning"%>
<% else%>
  <% entry_class = "success"%>
<% end %>
<div class="panel panel-<%= entry_class %>">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6 panel-title">Entry from:  <%= link_to entry.user.phone, "/users/#{entry.user.id}/texts" %></div>
      <div class="col-md-6 text-right">Sent <%= time_ago_in_words(entry.created_at) %> ago <%= link_to "Delete", entry , method: :delete, data: { confirm: "Are you sure?" }, class: "link" %></div>
    </div>
  </div>
  <div class="panel-body">
    <% unless entry.picture.blank? %>
      <%= image_tag entry.picture, size: "250x250" %>
    <% end %>
    <%= entry.content %>
    <br>
    <br>
    <div class="pull-right">
      <%= form_for entry, html: {class: "form-inline", id: "calorie"}, remote: true do |f| %>
        <%= f.label :calorie %>
        <div class="input-group">
          <%= f.text_field :calorie, class: "form-control" %>
          <div class="input-group-btn">
            <button class="btn btn-<%= entry_class %>">
              <div class="glyphicon glyphicon-ok"></div>
            </button>
          </div>
        </div>
      </div>
    <% end %>
    <br>
    <br>
    <%= form_for @text, remote: true do |f| %>
      <%= f.label :content, value: "Question" %>
      <div class="input-group">
        <%= f.text_field :content, value: "Question regarding entry: '#{entry.content}', ", class: "form-control" %>
        <div class="input-group-btn">
          <button class="btn btn-<%= entry_class %>">Send</button>
        </div>
      </div>
      <%= f.hidden_field :user_id, value: entry.user.id %>
      <%= f.hidden_field :phone, value: entry.user.phone  %>
      <%= f.hidden_field :owner, value: entry.user.owner  %>
    <% end %>
  </div>
</div>