<br>
<div class="col-sm-12 col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
  <% @logs.each do |day, entries| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <% if Date.today.to_s == day %>
            <h4 class="col-sm-6">Today</h4>
          <% else %>
            <h4 class="col-sm-6"><%= day %></h4>
          <% end %>
          <% @calories = 0 %>
          <% entries.each do |entry| %>
            <% @calories += entry.calorie.to_i %>
          <% end %>
          <p class="col-sm-6 text-right" style="padding-top:10px">Calories: <%= @calories %></p>
        </div>
      </div>
      <div class="panel-body">
        <% entries.each do |entry| %>
          <div class="col-sm-12"style="padding:10px 0 10px 0;">
            <div class="col-sm-2">
              <% if  entry.picture %>
                <%= image_tag entry.picture, class: "img-responsive" %>
              <% else %>
                <%= image_tag "square.jpg", class: "img-responsive hide-mobile" %>
              <% end %>
            </div>
            <div class="col-sm-6">
              <% if entry.content.blank? %>
                <p>Entry Posted</p>
              <% else %>
                <p><%= entry.content %></p>
              <% end %>
            </div>
            <div class="col-sm-4">
              <div class="pull-right-mobile">
                <%= form_for entry, html: {class: "form-inline", id: "calorie"}, remote: false do |f| %>
                  <%= f.label :calorie %>
                  <div class="input-group">
                    <%= f.text_field :calorie, class: "form-control" %>
                    <div class="input-group-btn">
                      <button class="btn btn-default">
                        <div class="glyphicon glyphicon-ok"></div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>