
<div id="messages" style="min-height: 90vh;padding-bottom:10vh;overflow:auto;">
<% if @user.texts.any? %>
	<ul>
    <% @user.texts.each do |text| %>
    <div>
      <%= text.content %>
      <% unless text.picture.blank? %>
      	<%= image_tag text.picture, size: "400x400" %>
      <% end %>
      </div>
    <% end %>
  </ul>
<% end %>
</div>
<%= form_for @text, remote: true do |f| %>
  <%= f.text_area :content %>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.hidden_field :phone, value: @user.phone  %>
  <%= f.submit "Send", class: "btn btn-primary" %>
<% end %>

<script>
  var textarea = document.getElementById('messages');
  textarea.scrollTop = textarea.scrollHeight;
</script>