<ul>
  <% @user.texts.each do |text| %>
    <% if text.owner == "" %>
      <% panel_class = "success"%>
      <% panel_title ="Entry"%>
      <% panel_margin ="margin-left: -40px;margin-right:40px" %>
    <% else%>
      <% panel_class = "primary"%>
      <% panel_title ="Report"%>
    <% end %>
    <div class="panel panel-<%= panel_class%>" style="<%= panel_margin %>">
      <div class="panel-heading">
        <h3 class="panel-title"><%= panel_title %></h3>
      </div>
      <div class="panel-body">
        <%= text.content %>
        <% unless text.picture.blank? %>
          <%= image_tag text.picture, size: "250x250", class: "pull-right" %>
        <% end %>
      </div>
    </div>
  <% end %>
</ul>